*{
    padding: 20px aouto;
    margin: 20px auto;
}
.changed{
    background: rgb(39, 93, 127);
    width: 500px;
    margin: 100px auto;
    border-radius: 15px;
    text-align: center;
    button{
        padding: 20px 30px;
        background-color: goldenrod;
        color: black;
        border-radius: 20px;
        border: none;
    }
}